/*
/.**

!/.asdfrc
!/.gemrc
!/.zshenv
!/.Brewfile

!/.config/
!/.config/alacritty
!/.config/alacritty/**
!/.config/atuin
!/.config/atuin/config.toml
!/.config/bat
!/.config/bat/**
!/.config/efm-langserver
!/.config/efm-langserver/**
!/.config/fish
!/.config/fish/**
/.config/fish/fish_variables
/.config/fish/secrets.fish
!/.config/gh
!/.config/gh/**
!/.config/gh-dash
!/.config/git
!/.config/git/config
!/.config/git/ignore
!/.config/helix
!/.config/helix/**
!/.config/jj
!/.config/jj/**
!/.config/kitty
!/.config/kitty/**
!/.config/lazygit
!/.config/lazygit/config.yml
!/.config/mise
!/.config/mise/**
!/.config/nvim
!/.config/nvim/**
!/.config/sheldon
!/.config/sheldon/plugins.toml
!/.config/silicon
!/.config/skhd
!/.config/skhd/**
!/.config/starship.toml
!/.config/surfingkeys
!/.config/surfingkeys/**
!/.config/tmux
!/.config/tmux/**
!/.config/wezterm
!/.config/wezterm/**
!/.config/yabai
!/.config/yabai/**
!/.config/yazi
!/.config/yazi/**
!/.config/zed
!/.config/zed/*.json
!/.config/zellij
!/.config/zellij/**
!/.config/zsh
!/.config/zsh/zshrc
!/.github
!/.github/**
!/AquaSKK
!/AquaSKK/**
!/vim/dein.toml
!/vim/vimrc

!/README.md
!/LICENSE
!.gitignore
node_modules
.DS_Store
