/*
/.**

!/.asdfrc
!/.gemrc
!/.zshenv
!/.Brewfile

!/.config/
!/.config/alacritty
!/.config/alacritty/**
!/.config/bat
!/.config/bat/**
!/.config/fish
!/.config/fish/**
/.config/fish/fish_variables
!/.config/gh
!/.config/gh/config.yml
!/.config/gh-dash
!/.config/kitty
!/.config/kitty/**
!/.config/lazygit
!/.config/lazygit/config.yml
!/.config/nvim
!/.config/nvim/**
!/.config/sheldon
!/.config/sheldon/plugins.toml
!/.config/silicon
!/.config/skhd
!/.config/skhd/**
!/.config/starship.toml
!/.config/tmux
!/.config/tmux/**
!/.config/yabai
!/.config/yabai/**
!/.config/zsh
!/.config/zsh/zshrc

!/README.md
!/LICENSE
!.gitignore
node_modules
.DS_Store
